<div class="container">
     {{> _errors}}
</div>

<div class="container" style="margin-top:20px">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-header">Yazı Paylaş</div>
                <div class="card-body">
                    <form action="/addwrite" method="POST">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Metin</label>
                            <textarea class="form-control" id="metin" name="metin" rows="3">{{metin}}</textarea>
                            <p class="text-right" id="karakterSayaci">0/200</p>
                        </div>
                        <button type="submit" name="buttonBlock" class="btn btn-primary">Paylaş</button>
                    </form><br>
                    <hr>
                    <p>• Maksimum 200 karakter girilebilir.</p>
                </div>
            </div>
        </div>
    </div>
</div>
