<div class="container" style="margin-top:20px">
    <div class="card">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <div class="row" >
                <div class="col-md-12">
                    <form action="/login/username" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="username" class="form-control" name="username">
                        </div>
                        <button  type="submit" name="buttonBlock" class="btn btn-primary">Devam et</button>
                        <br><br><hr>
                         <a role="button" href="/reset-password" class="btn btn-primary btn-sm">Bilgilerimi Unuttum</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>