<div class="container" style="margin-top:20px">
    <div class="card">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form action="/login/password" method="POST">
                        <label for="exampleInputEmail1">Password</label>
                        <div class="input-group mb-3">
                            <input type="password" id="inputsifre"  placeholder="Password"  class="form-control password" name="password">
                            <div class="input-group-append">
                                <span class="input-group-text" id="sifre"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Giriş yap</button>
                        <br><br>
                        <hr>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" name="benihatirla" id="exampleCheck1">
                            <label class="form-check-label"  for="exampleCheck1">Beni hatırla</label>
                        </div>
                        <a role="button" name="buttonBlock"  href="/reset-password" class="btn btn-primary btn-sm">Bilgilerimi Unuttum</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>