<div class="container" style="margin-top:25px">
    <div class="card">
        <div class="row" style="text-align:center;padding:10px">
            <div class="col-md-12">
                <h5>Kişi Seç</h5>
            </div>
        </div>
        <div class="row" style="text-align:center;padding:10px">
            <div class="col-md-12">
                
                    <div class="input-group mb-3">
                    <input type="text" class="form-control" id="user" placeholder="Kullanıcı ara">
                    <button  id="arabtn"  class="btn btn-outline-secondary" type="submit">Ara</button>
                    </div>
                
            </div>
        </div>
        
        <div class="row" style="padding:10px">
            <div class="col-md-12" >
                <div class="alert alert-dark" role="alert" id="results">
                    
                </div>
            </div>
        </div>

        <div id="userList"></div>

    </div>
</div>
