<div class="container">
    {{> _errors}}
</div>

<div class="container" style="margin-top:20px">
    <div class="card">
        <div class="card-header">
            Password Change
        </div>
        <div class="card-body">
            <div class="row" >
                <div class="col-md-12">
                    <form action="/{{user}}/password-change" method="POST">

                       <label for="exampleInputEmail1">Mevcut Şifreniz</label>
                        <div class="input-group mb-3">
                           <input type="password" class="form-control password" name="mevcutSifre">
                            <div class="input-group-append">
                                <span class="input-group-text" id="sifre"></span>
                            </div>
                        </div>

                        <label for="exampleInputEmail1">Yeni Şifreniz</label>
                        <div class="input-group mb-3">
                          <input type="password"  class="form-control password" name="yeniSifre1">
                            <div class="input-group-append">
                                <span class="input-group-text" id="sifre"></span>
                            </div>
                        </div>

                         <label for="exampleInputEmail1">Tekrar Yeni Şifreniz</label>
                        <div class="input-group mb-3">
                          <input type="password" class="form-control password" name="yeniSifre2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="sifre"></span>
                            </div>
                        </div>
                        
                        <button  type="submit" name="buttonBlock" class="btn btn-primary">Kaydet</button>
                         <br><br><hr>
                         <p>• Paralo minimum 6 karakter uzunluğunda olmalıdır.</p><hr>
                         <a role="button" name="buttonBlock" href="/{{user}}/reset-password" class="btn btn-primary btn-sm">Mevcut şifremi Unuttum</a>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
